# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Miscellaneous (from app)
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# Deployment artifacts
github-pages/
netlify-deploy*/
vercel-deploy/
public/
test_web_app/
*.zip
rgs-tools-*/
web-build/
build/web/
ios/build/
android/build/
ios/Pods/
android/.gradle/

# SQL
SUPABASE_*.sql
!SUPABASE_RECREATE_ALL_TABLES.sql

# Android keystore
keystore/
android/keystore.properties
android/keystore/*.jks
android/keystore/*.keystore

# Apple Push Notification keys
*.p8
AuthKey_*.p8
